In [1]:
import pandas as pd
import json

In [2]:
with open('result.json') as file:
    data = json.load(file)
df = pd.DataFrame(data)
df

,filename,frame_id,objects
0,sample_imgs/IMG_6754-X3.jpg,1,"[{'class_id': 0, 'name': 'bib', 'relative_coor..."
1,sample_imgs/IMG_7350-X3.jpg,2,"[{'class_id': 0, 'name': 'bib', 'relative_coor..."
2,sample_imgs/IMG_7815-X3.jpg,3,"[{'class_id': 0, 'name': 'bib', 'relative_coor..."

In [3]:
med=[]
def check(x):
    for y in x:
        if y['name']=="bib":
                    return True
    return False
df['bibs']=df['objects'].transform(lambda temp:check(temp))

In [4]:
df

,filename,frame_id,objects,bibs
0,sample_imgs/IMG_6754-X3.jpg,1,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True
1,sample_imgs/IMG_7350-X3.jpg,2,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True
2,sample_imgs/IMG_7815-X3.jpg,3,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True

In [5]:
df['filename']=df['filename'].transform(lambda f:f.split('/')[-1])
in_book=list(df['filename'])

In [6]:
df

,filename,frame_id,objects,bibs
0,IMG_6754-X3.jpg,1,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True
1,IMG_7350-X3.jpg,2,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True
2,IMG_7815-X3.jpg,3,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True

In [7]:
med=[]
def check2(x):
    for y in x:
        if y['name']=="bib":
                    return y
    return False
df['bib_data']=df['objects'].transform(lambda temp:check2(temp))

In [8]:
df

,filename,frame_id,objects,bibs,bib_data
0,IMG_6754-X3.jpg,1,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True,"{'class_id': 0, 'name': 'bib', 'relative_coord..."
1,IMG_7350-X3.jpg,2,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True,"{'class_id': 0, 'name': 'bib', 'relative_coord..."
2,IMG_7815-X3.jpg,3,"[{'class_id': 0, 'name': 'bib', 'relative_coor...",True,"{'class_id': 0, 'name': 'bib', 'relative_coord..."

In [9]:
df=df.drop(['frame_id','objects','bibs'],axis=1)

In [10]:
df

          filename                                           bib_data
0  IMG_6754-X3.jpg  {'class_id': 0, 'name': 'bib', 'relative_coord...
1  IMG_7350-X3.jpg  {'class_id': 0, 'name': 'bib', 'relative_coord...
2  IMG_7815-X3.jpg  {'class_id': 0, 'name': 'bib', 'relative_coord...

In [11]:
data=df

In [12]:
def details(x,flag_2):
        co=x['relative_coordinates']
        wid=float(co['width'])/2.0
        hi=float(co['height'])/2.0
        if flag_2=='y2':
            return float(co['top_y'])+hi
        if flag_2=='x2':
            return float(co['left_x'])+wid
        if flag_2=='x1':
            return float(co['left_x'])-wid
        if flag_2=='y1':
            return float(co['top_y'])-hi
data['x1']=data['bib_data'].transform(lambda f:details(f,'x1'))    
data['y1']=data['bib_data'].transform(lambda f:details(f,'y1'))  
data['x2']=data['bib_data'].transform(lambda f:details(f,'x2'))  
data['y2']=data['bib_data'].transform(lambda f:details(f,'y2'))

In [15]:
data

,filename,bib_data,x1,y1,x2,y2
0,IMG_6754-X3.jpg,"{'class_id': 0, 'name': 'bib', 'relative_coord...",671.5,478.5,760.5,521.5
1,IMG_7350-X3.jpg,"{'class_id': 0, 'name': 'bib', 'relative_coord...",735.5,430.5,808.5,477.5
2,IMG_7815-X3.jpg,"{'class_id': 0, 'name': 'bib', 'relative_coord...",345.5,435.5,426.5,486.5

In [20]:
from PIL import Image
Image.MAX_IMAGE_PIXELS = 9927331200
count=0
for x,y in data.iterrows():
        img = Image.open('./images/'+str(y['filename']))
        dim=img.size
        w,h=dim[0],dim[1]
        x1=y['x1']*w
        x2=y['x2']*w
        y1=y['y1']*h
        y2=y['y2']*h
        area=(x1,y1,x2,y2)
        print(count)
        cropped_img = img.crop(area)
        cropped_img=cropped_img.convert('RGB')
        cropped_img.save("./cropped_images/"+str(x)+'.jpg')
        count+=1

0

MemoryError:

In [14]:
import cv2
import matplotlib.pyplot as plt

x=716
y=500
w=89
h=43
img = cv2.imread('IMG_6754-X3.jpg')
crop_img = img[y:y+h, x:x+w]
cv2.imwrite("Object.jpg",crop_img)

True

In [2]:
import pandas as pd
import json
with open('result.json') as file:
    data = json.load(file)

In [21]:
cropped_images_df = pd.DataFrame(columns=['filename','left_x','top_y','width','height'])
cropped_images_list=[]
for items in data:
    filename=items['filename'].split('/')[-1]
    for item in items['objects']:
        if item['name']=='bib':
            dict_info=item['relative_coordinates']
            dict_info['filename']=filename
            cropped_images_list.append(dict_info)

In [24]:
cropped_images_df=pd.DataFrame(cropped_images_list)
print(cropped_images_df)

            filename  height  left_x  top_y  width
0    IMG_6688-X3.jpg      39     814    477     58
1    IMG_6689-X3.jpg      35     655    546     66
2    IMG_6692-X3.jpg      34     899    359     75
3    IMG_6695-X3.jpg      48     707    340    107
4    IMG_6699-X3.jpg      41    1064    404     98
5    IMG_6705-X3.jpg      54     682    372     67
6    IMG_6710-X3.jpg      38     781    376     52
7    IMG_6711-X3.jpg      54     883    380     89
8    IMG_6716-X3.jpg      33     774    417     57
9    IMG_6720-X3.jpg      47     656    352     86
10   IMG_6724-X3.jpg      51     454    379     90
11   IMG_6724-X3.jpg      33     608    405     62
12   IMG_6736-X3.jpg      37     465    511     64
13   IMG_6738-X3.jpg      52     773    524     93
14   IMG_6741-X3.jpg      49     749    417     91
15   IMG_6743-X3.jpg      42     649    494     91
16   IMG_6746-X3.jpg      32     839    587     54
17   IMG_6747-X3.jpg      53     775    429     91
18   IMG_6748-X3.jpg      54     764    414    104
19   IMG_6749-X3.jpg      45     742    496     73
20   IMG_6751-X3.jpg      32     750    563     63
21   IMG_6754-X3.jpg      43     716    500     89
22   IMG_6759-X3.jpg      59     621    286    106
23   IMG_6760-X3.jpg      61     628    288    123
24   IMG_6763-X3.jpg      47     555    363     94
25   IMG_6763-X3.jpg      44     995    380     90
26   IMG_6768-X3.jpg      53     644    428    115
27   IMG_6778-X3.jpg      61     427    396    111
28   IMG_6778-X3.jpg      54     913    352     97
29   IMG_6779-X3.jpg      63     453    454    114
..               ...     ...     ...    ...    ...
191  IMG_7081-X3.jpg      32     633    483     46
192  IMG_7082-X3.jpg      39     641    461     61
193  IMG_7082-X3.jpg      45     807    412     86
194  IMG_7082-X3.jpg      29     378    528     49
195  IMG_7085-X3.jpg      61     399    430     87
196  IMG_7085-X3.jpg      52     744    325     93
197  IMG_7086-X3.jpg      70     709    347    100
198  IMG_7086-X3.jpg      67    1045    267     86
199  IMG_7086-X3.jpg      40     423    420     60
200  IMG_7092-X3.jpg      29     744    535     56
201  IMG_7092-X3.jpg      28     960    534     56
202  IMG_7099-X3.jpg      60     572    397     94
203  IMG_7100-X3.jpg      61     612    372     87
204  IMG_7100-X3.jpg      39     840    470     56
205  IMG_7102-X3.jpg      72     891    405     89
206  IMG_7105-X3.jpg      61     551    366     88
207  IMG_7105-X3.jpg      40     384    460     61
208  IMG_7109-X3.jpg      44     705    501     90
209  IMG_7111-X3.jpg      57     783    453     71
210  IMG_7113-X3.jpg      56     484    265    110
211  IMG_7114-X3.jpg      57     557    357    107
212  IMG_7115-X3.jpg      62     575    435    121
213  IMG_7120-X3.jpg      56     526    345     93
214  IMG_7120-X3.jpg      46     926    361    100
215  IMG_7129-X3.jpg      37     850    497     58
216  IMG_7130-X3.jpg      39     849    485     61
217  IMG_7350-X3.jpg      47     772    454     73
218  IMG_7815-X3.jpg      51     386    461     81
219  IMG_7815-X3.jpg      32     864    387     71
220  IMG_7815-X3.jpg      36    1112    411     81

[221 rows x 5 columns]

In [32]:
import cv2
import matplotlib.pyplot as plt

x=814
y=477
w=58
h=39
dir_name='cropped_images'
img = cv2.imread('images\IMG_6688-X3.jpg')
crop_img = img[y:y+h, x:x+w]
cv2.imwrite("Object.jpg",crop_img)

True

In [50]:
import cv2
dir_name='cropped_images'
for index, row in cropped_images_df.iterrows():
    source='images'+'\\'+(row['filename'])
    img = cv2.imread(source)
    x=row['left_x']
    y=row['top_y']
    w=row['width']
    h=row['height']
    crop_img = img[y:y+h, x:x+w]
    cropped_image_name=dir_name+'\\'+ row['filename'].split('.')[0]+'_'+str(row['left_x'])+'.jpg'
    cv2.imwrite(cropped_image_name,crop_img)

In [49]:
import cv2
dir_name='cropped_images'
for index, row in cropped_images_df.iterrows():
    print('images'+'\\'+row['filename'].split('.')[0]+'_'+str(row['left_x'])+'.jpg')

images\IMG_6688-X3_814.jpg
images\IMG_6689-X3_655.jpg
images\IMG_6692-X3_899.jpg
images\IMG_6695-X3_707.jpg
images\IMG_6699-X3_1064.jpg
images\IMG_6705-X3_682.jpg
images\IMG_6710-X3_781.jpg
images\IMG_6711-X3_883.jpg
images\IMG_6716-X3_774.jpg
images\IMG_6720-X3_656.jpg
images\IMG_6724-X3_454.jpg
images\IMG_6724-X3_608.jpg
images\IMG_6736-X3_465.jpg
images\IMG_6738-X3_773.jpg
images\IMG_6741-X3_749.jpg
images\IMG_6743-X3_649.jpg
images\IMG_6746-X3_839.jpg
images\IMG_6747-X3_775.jpg
images\IMG_6748-X3_764.jpg
images\IMG_6749-X3_742.jpg
images\IMG_6751-X3_750.jpg
images\IMG_6754-X3_716.jpg
images\IMG_6759-X3_621.jpg
images\IMG_6760-X3_628.jpg
images\IMG_6763-X3_555.jpg
images\IMG_6763-X3_995.jpg
images\IMG_6768-X3_644.jpg
images\IMG_6778-X3_427.jpg
images\IMG_6778-X3_913.jpg
images\IMG_6779-X3_453.jpg
images\IMG_6779-X3_894.jpg
images\IMG_6781-X3_670.jpg
images\IMG_6782-X3_475.jpg
images\IMG_6786-X3_707.jpg
images\IMG_6797-X3_470.jpg
images\IMG_6797-X3_772.jpg
images\IMG_6798-X3_557.jpg
images\IMG_6798-X3_1001.jpg
images\IMG_6799-X3_1117.jpg
images\IMG_6799-X3_568.jpg
images\IMG_6802-X3_328.jpg
images\IMG_6802-X3_827.jpg
images\IMG_6803-X3_334.jpg
images\IMG_6803-X3_838.jpg
images\IMG_6804-X3_349.jpg
images\IMG_6804-X3_807.jpg
images\IMG_6805-X3_806.jpg
images\IMG_6805-X3_346.jpg
images\IMG_6808-X3_643.jpg
images\IMG_6809-X3_735.jpg
images\IMG_6811-X3_693.jpg
images\IMG_6811-X3_420.jpg
images\IMG_6813-X3_960.jpg
images\IMG_6813-X3_415.jpg
images\IMG_6814-X3_502.jpg
images\IMG_6823-X3_796.jpg
images\IMG_6824-X3_879.jpg
images\IMG_6824-X3_412.jpg
images\IMG_6843-X3_951.jpg
images\IMG_6843-X3_513.jpg
images\IMG_6848-X3_499.jpg
images\IMG_6854-X3_857.jpg
images\IMG_6860-X3_248.jpg
images\IMG_6868-X3_600.jpg
images\IMG_6869-X3_600.jpg
images\IMG_6870-X3_479.jpg
images\IMG_6870-X3_787.jpg
images\IMG_6872-X3_717.jpg
images\IMG_6872-X3_480.jpg
images\IMG_6873-X3_499.jpg
images\IMG_6873-X3_864.jpg
images\IMG_6875-X3_499.jpg
images\IMG_6876-X3_495.jpg
images\IMG_6877-X3_680.jpg
images\IMG_6877-X3_182.jpg
images\IMG_6883-X3_452.jpg
images\IMG_6892-X3_691.jpg
images\IMG_6895-X3_351.jpg
images\IMG_6897-X3_412.jpg
images\IMG_6897-X3_959.jpg
images\IMG_6898-X3_787.jpg
images\IMG_6899-X3_790.jpg
images\IMG_6900-X3_641.jpg
images\IMG_6901-X3_651.jpg
images\IMG_6903-X3_983.jpg
images\IMG_6904-X3_428.jpg
images\IMG_6904-X3_990.jpg
images\IMG_6905-X3_1026.jpg
images\IMG_6906-X3_879.jpg
images\IMG_6907-X3_863.jpg
images\IMG_6907-X3_978.jpg
images\IMG_6909-X3_802.jpg
images\IMG_6912-X3_836.jpg
images\IMG_6913-X3_851.jpg
images\IMG_6914-X3_582.jpg
images\IMG_6914-X3_1277.jpg
images\IMG_6915-X3_543.jpg
images\IMG_6915-X3_1391.jpg
images\IMG_6921-X3_353.jpg
images\IMG_6921-X3_1166.jpg
images\IMG_6922-X3_574.jpg
images\IMG_6924-X3_791.jpg
images\IMG_6924-X3_509.jpg
images\IMG_6925-X3_491.jpg
images\IMG_6928-X3_635.jpg
images\IMG_6929-X3_516.jpg
images\IMG_6932-X3_980.jpg
images\IMG_6932-X3_496.jpg
images\IMG_6935-X3_579.jpg
images\IMG_6936-X3_903.jpg
images\IMG_6940-X3_917.jpg
images\IMG_6940-X3_441.jpg
images\IMG_6945-X3_566.jpg
images\IMG_6946-X3_574.jpg
images\IMG_6950-X3_636.jpg
images\IMG_6951-X3_625.jpg
images\IMG_6951-X3_463.jpg
images\IMG_6951-X3_954.jpg
images\IMG_6954-X3_512.jpg
images\IMG_6954-X3_696.jpg
images\IMG_6956-X3_559.jpg
images\IMG_6956-X3_789.jpg
images\IMG_6958-X3_312.jpg
images\IMG_6958-X3_530.jpg
images\IMG_6958-X3_822.jpg
images\IMG_6958-X3_990.jpg
images\IMG_6959-X3_311.jpg
images\IMG_6959-X3_483.jpg
images\IMG_6963-X3_362.jpg
images\IMG_6963-X3_905.jpg
images\IMG_6963-X3_647.jpg
images\IMG_6968-X3_753.jpg
images\IMG_6972-X3_701.jpg
images\IMG_6979-X3_701.jpg
images\IMG_6981-X3_478.jpg
images\IMG_6982-X3_468.jpg
images\IMG_6987-X3_775.jpg
images\IMG_6990-X3_696.jpg
images\IMG_6991-X3_765.jpg
images\IMG_6991-X3_307.jpg
images\IMG_6994-X3_765.jpg
images\IMG_6994-X3_1246.jpg
images\IMG_6994-X3_916.jpg
images\IMG_6999-X3_1018.jpg
images\IMG_6999-X3_587.jpg
images\IMG_7000-X3_683.jpg
images\IMG_7005-X3_553.jpg
images\IMG_7007-X3_650.jpg
images\IMG_7009-X3_484.jpg
images\IMG_7015-X3_956.jpg
images\IMG_7017-X3_931.jpg
images\IMG_7017-X3_486.jpg
images\IMG_7018-X3_957.jpg
images\IMG_7018-X3_478.jpg
images\IMG_7023-X3_387.jpg
images\IMG_7023-X3_800.jpg
images\IMG_7024-X3_828.jpg
images\IMG_7024-X3_405.jpg
images\IMG_7029-X3_573.jpg
images\IMG_7030-X3_594.jpg
images\IMG_7033-X3_422.jpg
images\IMG_7033-X3_698.jpg
images\IMG_7034-X3_718.jpg
images\IMG_7034-X3_439.jpg
images\IMG_7037-X3_451.jpg
images\IMG_7037-X3_955.jpg
images\IMG_7038-X3_990.jpg
images\IMG_7038-X3_498.jpg
images\IMG_7042-X3_873.jpg
images\IMG_7045-X3_956.jpg
images\IMG_7046-X3_1000.jpg
images\IMG_7046-X3_637.jpg
images\IMG_7050-X3_1079.jpg
images\IMG_7050-X3_823.jpg
images\IMG_7061-X3_1059.jpg
images\IMG_7061-X3_417.jpg
images\IMG_7063-X3_672.jpg
images\IMG_7064-X3_710.jpg
images\IMG_7068-X3_869.jpg
images\IMG_7069-X3_356.jpg
images\IMG_7069-X3_953.jpg
images\IMG_7070-X3_416.jpg
images\IMG_7070-X3_814.jpg
images\IMG_7071-X3_443.jpg
images\IMG_7071-X3_823.jpg
images\IMG_7075-X3_379.jpg
images\IMG_7076-X3_1183.jpg
images\IMG_7076-X3_566.jpg
images\IMG_7077-X3_1249.jpg
images\IMG_7077-X3_607.jpg
images\IMG_7081-X3_770.jpg
images\IMG_7081-X3_633.jpg
images\IMG_7082-X3_641.jpg
images\IMG_7082-X3_807.jpg
images\IMG_7082-X3_378.jpg
images\IMG_7085-X3_399.jpg
images\IMG_7085-X3_744.jpg
images\IMG_7086-X3_709.jpg
images\IMG_7086-X3_1045.jpg
images\IMG_7086-X3_423.jpg
images\IMG_7092-X3_744.jpg
images\IMG_7092-X3_960.jpg
images\IMG_7099-X3_572.jpg
images\IMG_7100-X3_612.jpg
images\IMG_7100-X3_840.jpg
images\IMG_7102-X3_891.jpg
images\IMG_7105-X3_551.jpg
images\IMG_7105-X3_384.jpg
images\IMG_7109-X3_705.jpg
images\IMG_7111-X3_783.jpg
images\IMG_7113-X3_484.jpg
images\IMG_7114-X3_557.jpg
images\IMG_7115-X3_575.jpg
images\IMG_7120-X3_526.jpg
images\IMG_7120-X3_926.jpg
images\IMG_7129-X3_850.jpg
images\IMG_7130-X3_849.jpg
images\IMG_7350-X3_772.jpg
images\IMG_7815-X3_386.jpg
images\IMG_7815-X3_864.jpg
images\IMG_7815-X3_1112.jpg